<ion-header>
    <!-- <ion-navbar>
         <ion-title>Home</ion-title>
     </ion-navbar>-->
</ion-header>

<ion-content padding class="home">


    <ion-tabs>
        <ion-tab [root]="tablou" tabTitle="Tablou" tabIcon="ic-tablou"></ion-tab>
        <ion-tab [root]="asistenta" tabTitle="Asistenta" tabIcon="ic-asistenta"></ion-tab>
        <ion-tab [root]="instrumente" tabTitle="Instrumente" tabIcon="ic-instrumente"></ion-tab>
        <ion-tab [root]="contact" tabTitle="Contact" tabIcon="ic-contact"></ion-tab>
        <ion-tab [root]="info" tabTitle="Info" tabIcon="ic-info"></ion-tab>
    </ion-tabs>

</ion-content>
