<ion-header>
    <ion-navbar>
        <ion-title>Instrumente</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
        <button ion-item (click)="verificareCif()">Verificare CIF</button>
        <button ion-item (click)="calculatorVenit()"> Calculator venit</button>
        <button ion-item (click)="calculatorTaxaAuto()"> Calculator taxa auto/timbru</button>
        <button ion-item (click)="calculatorTva()"> Calculator TVA</button>
    </ion-list>
</ion-content>
