$anaf-icons: asistenta;

@mixin anaf-icon($name, $content, $content-outline: $content) {

    .tabs-md, .tabs-ios, .tabs-wp {
        .tab-button {
            .ion-ios-ic-#{$name}-outline:before,
            .ion-md-ic-#{$name}:before {
                content: $content;
            }
        }

        .tab-button[aria-selected=true] {
            .ion-ios-ic-#{$name}:before,
            .ion-md-ic-#{$name}:before {
                content: $content-outline;
            }
        }
    }
}
